/* ++TABLET STYLES */
@media (max-width: 1024px) {
	.header-container,
	.hero-section,
	.content-section {
		width: 95%;
	}

	.intro-img-container {
		width: 280px;
		height: 280px;
	}

	.intro-header {
		font-size: 3rem;
	}
}

/* ++MOBILE STYLES */
@media (max-width: 820px) {
	.nav-container {
		display: none;
	}

	.fa-bars {
		visibility: visible;
	}

	.intro-header {
		font-size: 2rem;
	}

	.chapter-container {
		height: auto;
		flex-direction: column;
		row-gap: 30px;
	}

	.chapter-container button {
		width: 100%;
	}
}

@media (max-width: 768px) {
}

/* ++Mini MOBILE STYLES */
@media (max-width: 468px) {
	.intro-summary {
		text-align: justify;
		word-spacing: 0;
	}

	.suicide-prevention-body .content-summary {
		font-size: 1rem;
	}

	.suicide-prevention-wrapper {
		width: 100%;
	}
}

@media (max-width: 321px) {
	.intro-header {
		font-size: 1.5rem;
	}
}
